@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto låst";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Denne konto er blevet låst ude, sandsynligvis som følge af for mange login forsøg. Prøv venligst igen senere.</p>
</header>
