@page "/about"
@model DemokratiskDialog.Pages.AboutModel
@{
    ViewData["Title"] = "Om polcensur.dk";
}

<h1 class="display-4">Om polcensur.dk</h1>

<p class="lead">
    polcensur.dk er skabt af <a href="https://twitter.com/peter_joelving" title="Besøg Peter's Twitter-profil" target="_blank" rel="noopener">Peter Toft Jølving</a> i et forsøg på at fremme den gode demokratiske samtale
    ved at sætte fokus på politikere og meningsdanneres brug af blokeringer på Twitter.
</p>

<h2>Hvad kan man bruge ranglisten til?</h2>
<p>
    Ranglisten i sig selv skal man tage med et gran salt. Der kan være mange grunde til at blokere andre brugere, og målet med siden er ikke agitere for carte blanche til alverdens skriftlige mydbydeligheder rettet mod vores folkevalgte.<br />
    Formålet med listen er at frem<em>provokere</em> en debat om brugen af blokeringer og lignende redskaber på sociale medier. Hvilke negative konsekvenser har det for den demokratiske samtale at blokere en bruger?
    Hvornår kan man tillade sig at blokere en bruger? Kan et "mute" i virkeligheden opfylde behovet?<br />
    De rigtige svar kan selvfølgelig ikke komme herfra, men må diskuteres bredt i offentligheden. Én ting er dog sikkert: Blokering af politiske modstandere alene på baggrund af sober og saglig kritik forstærker ekkokamre og undergraver demokratiet.
    Det er ikke i orden.
</p>

<h2>Hvordan er influencerne udvalgt?</h2>
<p>
    Influencerne er udvalgt på baggrund af deres relevans for og engagement i den politiske debat. Grundlæggende er kriteriet, at en blokering fra vedkommende er begrænsende i forhold til at indgå i den offentlige politiske debat.
    <ul>
        <li>Folkevalgte, kandidater til valg og partiansatte.</li>
        <li>Politiske journalister og redaktører.</li>
        <li>Offentlige myndigheder og deres topfolk.</li>
        <li>Fagforeninger, brancheorganisationer, interesseorganisationer i øvrigt, samt deres topfolk og kommunikationsfolk.</li>
        <li>Prominente erhversfolk</li>
    </ul>
    Alle profiler er håndplukkede fra større lister (tak til <a href="https://twitter.com/ernstpoulsen" title="Besøg Ernst Poulsens Twitter-profil" target="_blank" rel="noopener">Ernst Poulsen</a> for dem - han er i øvrigt på ingen måde involveret i dette projekt), for at sikre relevansen.
    Ikke desto mindre kan der være sket fejl, så hvis du ser en profil, der ikke er relevant for sidens formål, må du meget gerne fortælle mig om det på <a href="mailto:support@polcensur.dk">support@polcensur.dk</a>.
    Det samme gælder, hvis du mener, at en profil mangler på listen.
</p>