@page "/check"
@model DemokratiskDialog.Pages.CheckModel
@{
    ViewData["Title"] = "Gennemfør blokeringskontrol";
}

<h1>@ViewData["Title"]</h1>

@if (!(Model.LatestJob is null))
{
    <partial name="_LatestJobState" model="Model.LatestJob" />
}
@if (!(Model.LatestContinuousJob is null))
{
    <partial name="_LatestContinuousJobState" model="Model.LatestContinuousJob" />
}
@if (Model.CanSubmit)
{
    <partial name="_CheckSubmissionPartial" model="Model.Input" />
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}