@page
@model DemokratiskDialog.Pages.EmailTestModel
@{
    ViewData["Title"] = "EmailTest";
}

<h1>EmailTest</h1>

<form method="post">
<button class="btn btn-primary" type="submit">Send test email</button>
</form>