@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>


            <h5>Offentliggørelse</h5>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Input.Publicity" id="Input.Publicity1" value="@false">
                <label class="form-check-label" for="Input.Publicity1">
                    Vis kun som del af statistik
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Input.Publicity" id="Input.Publicity2" value="@true">
                <label class="form-check-label" for="Input.Publicity2">
                    Vis med profil
                </label>
            </div>
            <small class="form-text text-muted">
                Her kan du angive om du ønsker din profil offentliggjort i sammenhæng med blokeringerne.
                Vælger du 'Vis kun som del af statistik', vil din profil eller dens blokeringer ikke være synlige for andre end dig selv, men blot indgå som "+1" i antallet af blokeringer.
                Vælger du 'Vis med profil', vil dit profilbillede optræde ved siden af personen, der har blokeret dig.
            </small>

            <button type="submit" class="btn btn-primary mt-3">Gem</button>
        </form>
    </div>
</div>