@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>Din konto indeholder personlig data, som du har givet os. På denne side kan du hente en kopi af - eller slette - al den data, vi har om dig.</p>
        <p>
            <strong>Sletning af data vil permanent slette din konto på siden. Denne handling kan ikke fortydes og data kan ikke gendannes.</strong>
        </p>
        <form id="download-data" asp-page="/Account/Manage/DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Hent en kopi</button>
        </form>
        <p>
            <a id="delete" asp-page="/Account/Manage/DeletePersonalData" class="btn btn-primary">Slet al data</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}