@{
    ViewData["Title"] = "Privatlivspolitik";
}
<h1>@ViewData["Title"]</h1>

<h2>Det indsamler vi</h2>
<p>
    For at tjenesten kan fungere, indsamler vi:
    <ul>
        <li>Dit Twitter Id og en midlertidig adgangsnøgle: Disse er nødvendige for at kunne kontrollere hvem, der har blokeret dig.</li>
        <li>En liste over hvilke af de 5.000 mest magtfulde Twitter-profiler, der har blokeret dig: Det er pointen med tjenesten - ønsker du ikke dette, er der ingen grund til at være her.</li>
        <li>En emailadresse: Hver gang du beder os kontrollere dine blokeringer, beder vi dig om en emailadresse. Den bruger vi til at give dig besked, når kontrollen er foretaget.</li>
    </ul>
</p>

<h2>Sådan bruger vi dine data</h2>
<p>
    Dit Twitter Id er knyttet til blokeringerne, så vi kan genkende dig, når du besøger siden, og så vi kan sikre os, at vi ikke tæller blokeringer dobbelt.<br />
    Din Twitter adgangsnøgle sletter vi igen, så snart kontrollen er færdig. Derfor vil du også opleve at blive sendt en tur omkring Twitter for at hente en ny adgangsnøgle hver gang, du beder om en ny kontrol.
</p>
<p>
    Vi bruger listen over profiler, der har blokeret dig til 1) at give dig oversigten over blokeringer og 2) at skabe overblik over i hvilket omfang magtfulde Twitter-brugere i Danmark blokerer andre.<br />
    På din profil kan du angive, om du ønsker din Twitter-profil offentliggjort i forbindelse med blokeringerne. <strong>Som udgangspunkt er du anonym og dine blokeringer indgår kun i aggregeret form.</strong>
    Er du eksempelvis blokeret af Lars Løkke Rasmussen vil man som udgangspunkt ikke kunne se det, men blot at Lars Løkke Rasmussen har blokeret en profil.<br />
    Under <a asp-page="identity/account" title="Gå til din profil">din profil</a> kan du vælge om din profil skal offentliggøres eller ej. Du kan altid fravælge offentliggørelse igen med øjeblikkelig virkning.
</p>

<h2>Sådan administrerer du dine data</h2>
<p>
    Under <a asp-page="identity/account/personaldata" title="Gå til dine persondata">dine persondata</a> kan du downloade de persondata, vi har om dig. Her kan du også slette al data, vi har lagret og samtidig slette din konto.
    Sletter du din konto, beder vi dig tage stilling til, om vi må gemme dine blokeringer i anonymiseret form. Giver du os tilladelse til at gemme dem, overskriver vi dit Twitter Id med en hashet udgave af dit Twitter Id.
    Dermed kan blokeringerne aldrig forbindes til din Twitter-konto, men vi kan genkende dem som dine, hvis du en dag vender tilbage til platformen.
</p>

<h2>Kontakt</h2>
<p>Har du spørgsmål til hvordan vi håndterer dine data, eller af andre grunde brug for at komme i kontakt med os, kan du skrive til <a href="mailto:privacy@polcensur.dk">privacy@polcensur.dk</a>.</p>